body{
    background: #ccc;
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#map{
    border-radius: 15px;
    width: 98%;
    height: 98vh;
    margin: 0 auto;
}